.userdata__div{
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/

    background-color: #F0F8FF;
    width: 450px;
    height: 600px;
    align-items: center;
    box-shadow: 0 12px 48px rgba(0,0,0,.08);
    border-radius: 30px;
}

.userdata__img {
    width: 140px;
    height: 140px;
    border-radius: 50%;

}

.userdata__h3 {
    color: #282c34;
    margin: 0;
    width: 300px;
    font-size: 30px;
}

.userdata__a {
    margin-top: 50px;
}

.userdata__btn{
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 40px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    width: 320px;
}
.userdata__btn:hover {
    background-position: right center;
}